/* row: flex-direction: row (default)  */
/* container: flex-direction: column */

.container {
    border: 2px solid black;
    height: 500px;
    max-height: 500px;
    width: 500px;
    max-width: 500px;
}

.row {
    outline: 2px solid blue;
}

.square {
    outline: 2px solid red;
}