/* * {
    outline: 2px solid blue;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* container style */
.container {
    display: flex;
    height: 500px;
    width: 500px;
    flex-direction: column;
}

/* div style */
.container div {
    background-color: red;
    border: 2px solid black;
    display: flex;
    flex: 1 1 0;
}






