/* row: flex-direction: row (default)  */
/* container: flex-direction: column */

.container {
    border: 2px solid black;
    height: 500px;
    max-height: 500px;
    width: 500px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.row {
    outline: 2px solid blue;
    display: flex;
    flex-direction: row;
    flex: 1
}

.square {
    outline: 2px solid red;
    width: 125px;
    height: 125px;
}
